<div class="container text-center">
    <h1 class="text text-danger mb-3">Movie Rental System</h1>
    <a href="/movie/" class="btn btn-outline-primary">Admin Site</a>
    <a href="/movie/list" class="btn btn-outline-success">Customer Site</a>
</div>
